<form [formGroup]="mov" (ngSubmit)="updateMovieDetails()">
    <table>
        <tbody>
            <tr>
                <td><label for="movieName">Movie Name</label></td>
                <td><input type="text" id="movieName" formControlName="movieName"></td>
                <td>
                    <div *ngIf="mov.get('movieName')?.touched && mov.get('movieName')?.errors">
                        <div *ngIf="mov.get('movieName')?.errors?.['required']">Movie Name can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="city">City</label></td>
                <td><input type="text" id="city" formControlName="city"></td>
                <td>
                    <div *ngIf="mov.get('city')?.touched && mov.get('city')?.errors">
                        <div *ngIf="mov.get('city')?.errors?.['required']">City can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="language">Language</label></td>
                <td><input type="text" id="language" formControlName="language"></td>
                <td>
                    <div *ngIf="mov.get('language')?.touched && mov.get('language')?.errors">
                        <div *ngIf="mov.get('language')?.errors?.['required']">Language can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="genre">Genre</label></td>
                <td><input type="text" id="genre" formControlName="genre"></td>
                <td>
                    <div *ngIf="mov.get('genre')?.touched && mov.get('genre')?.errors">
                        <div *ngIf="mov.get('genre')?.errors?.['required']">Genre can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="duration">Duration</label></td>
                <td><input type="number" id="duration" formControlName="duration"></td>
                <td>
                    <div *ngIf="mov.get('duration')?.touched && mov.get('duration')?.errors">
                        <div *ngIf="mov.get('duration')?.errors?.['required']">Duration can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="releaseDate">Release Date</label></td>
                <td><input type="date" id="releaseDate" formControlName="releaseDate"></td>
                <td>
                    <div *ngIf="mov.get('releaseDate')?.touched && mov.get('releaseDate')?.errors">
                        <div *ngIf="mov.get('releaseDate')?.errors?.['required']">Release Date can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="price">Price</label></td>
                <td><input type="number" id="price" formControlName="price"></td>
                <td>
                    <div *ngIf="mov.get('price')?.touched && mov.get('price')?.errors">
                        <div *ngIf="mov.get('price')?.errors?.['required']">Price can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="posterUrl">Poster URL</label></td>
                <td><input type="text" id="posterUrl" formControlName="posterUrl"></td>
                <td>
                    <div *ngIf="mov.get('posterUrl')?.touched && mov.get('posterUrl')?.errors">
                        <div *ngIf="mov.get('posterUrl')?.errors?.['required']">Poster URL can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="director">Director</label></td>
                <td><input type="text" id="director" formControlName="director"></td>
                <td>
                    <div *ngIf="mov.get('director')?.touched && mov.get('director')?.errors">
                        <div *ngIf="mov.get('director')?.errors?.['required']">Director can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="directorUrl">Director URL</label></td>
                <td><input type="text" id="directorUrl" formControlName="directorUrl"></td>
                <td>
                    <div *ngIf="mov.get('directorUrl')?.touched && mov.get('directorUrl')?.errors">
                        <div *ngIf="mov.get('directorUrl')?.errors?.['required']">Director URL can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="description">Description</label></td>
                <td><textarea id="description" rows="5" formControlName="description"></textarea></td>
                <td>
                    <div *ngIf="mov.get('description')?.touched && mov.get('description')?.errors">
                        <div *ngIf="mov.get('description')?.errors?.['required']">Description can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">update Movie</button></td>
            </tr>
        </tbody>
    </table>
</form>
