<form [formGroup]="eve" (ngSubmit)="updateEventDetails()">
    <table>
        <tbody>
            <tr>
                <td><label for="eventName">Event Name</label></td>
                <td><input type="text" id="eventName" formControlName="eventName"></td>
                <td>
                    <div *ngIf="eve.get('eventName')?.touched && eve.get('eventName')?.errors">
                        <div *ngIf="eve.get('eventName')?.errors?.['required']">Event Name can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="city">City</label></td>
                <td><input type="text" id="city" formControlName="city"></td>
                <td>
                    <div *ngIf="eve.get('city')?.touched && eve.get('city')?.errors">
                        <div *ngIf="eve.get('city')?.errors?.['required']">City can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="language">Language</label></td>
                <td><input type="text" id="language" formControlName="language"></td>
                <td>
                    <div *ngIf="eve.get('language')?.touched && eve.get('language')?.errors">
                        <div *ngIf="eve.get('language')?.errors?.['required']">Language can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="genre">Genre</label></td>
                <td><input type="text" id="genre" formControlName="genre"></td>
                <td>
                    <div *ngIf="eve.get('genre')?.touched && eve.get('genre')?.errors">
                        <div *ngIf="eve.get('genre')?.errors?.['required']">Genre can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="duration">Duration</label></td>
                <td><input type="number" id="duration" formControlName="duration"></td>
                <td>
                    <div *ngIf="eve.get('duration')?.touched && eve.get('duration')?.errors">
                        <div *ngIf="eve.get('duration')?.errors?.['required']">Duration can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="releaseDate">Release Date</label></td>
                <td><input type="date" id="releaseDate" formControlName="releaseDate"></td>
                <td>
                    <div *ngIf="eve.get('releaseDate')?.touched && eve.get('releaseDate')?.errors">
                        <div *ngIf="eve.get('releaseDate')?.errors?.['required']">Release Date can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="price">Price</label></td>
                <td><input type="number" id="price" formControlName="price"></td>
                <td>
                    <div *ngIf="eve.get('price')?.touched && eve.get('price')?.errors">
                        <div *ngIf="eve.get('price')?.errors?.['required']">Price can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="posterUrl">Poster URL</label></td>
                <td><input type="text" id="posterUrl" formControlName="posterUrl"></td>
                <td>
                    <div *ngIf="eve.get('posterUrl')?.touched && eve.get('posterUrl')?.errors">
                        <div *ngIf="eve.get('posterUrl')?.errors?.['required']">Poster URL can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="artist">Artist</label></td>
                <td><input type="text" id="director" formControlName="artist"></td>
                <td>
                    <div *ngIf="eve.get('artist')?.touched && eve.get('artist')?.errors">
                        <div *ngIf="eve.get('artist')?.errors?.['required']">Artist can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="artistUrl">Artist URL</label></td>
                <td><input type="text" id="artistUrl" formControlName="artistUrl"></td>
                <td>
                    <div *ngIf="eve.get('artistUrl')?.touched && eve.get('artistUrl')?.errors">
                        <div *ngIf="eve.get('artistUrl')?.errors?.['required']">Director URL can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="description">Description</label></td>
                <td><textarea id="description" rows="5" formControlName="description"></textarea></td>
                <td>
                    <div *ngIf="eve.get('description')?.touched && eve.get('description')?.errors">
                        <div *ngIf="eve.get('description')?.errors?.['required']">Description can't be empty</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Update Event</button></td>
            </tr>
        </tbody>
    </table>
</form>

