<!-- <h1>Welcome to Feedback Application</h1>
<a routerLink="feedback/addFeedback">Rate Now</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a (click)="openDialog()" style="cursor: pointer;">Rate Feedback</a> -->
<a routerLink="feedback/displayFeedback">Display Feedback</a>&nbsp;&nbsp;&nbsp;&nbsp;





<!-- <div class="navigation-links">
  <a routerLink="movie/insert">Add Movie</a>
  <a routerLink="movie/display">Display Movie</a>
  
  <a routerLink="movie/delete/movieName">Delete Movie</a>

 
</div>


<div class="router-outlet-container">
  <router-outlet></router-outlet>
</div> -->
<app-header></app-header>

<app-home></app-home>
<router-outlet></router-outlet>

<app-footer></app-footer>

