
<h1>Movie Portal Login</h1>
<div class="login-container">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <label for="username">Username:</label> 
    <input type="text" id="username" name="username" required [(ngModel)]="username"><br> 
    <label for="password">Password:</label> 
    <input type="password" id="password" name="password" required [(ngModel)]="password"><br> 
    <button type="submit">Login</button>
  </form>

  <p>
    Not a member? <a routerLink="/app-register">Sign up now</a>
  </p>
</div>

<p>
 <a routerLink="/app-user-login">User Login</a> | <a routerLink="/app-admin-login">Admin Login</a> 
</p>
