<h1>Movie Details</h1>
<div class="movie-card" *ngFor="let movie of movies">
    <div class="movie-image">
        <img [src]="movie.posterUrl" alt="Movie Poster">
    </div>
    <!-- <div class="movie-info">
        <h3>{{ movie.movieName }}</h3>
        <p><strong>City:</strong> {{ movie.city }}</p>
        <p><strong>Language:</strong> {{ movie.language }}</p>
        <p><strong>Genre:</strong> {{ movie.genre }}</p>
        <p><strong>Duration:</strong> {{ movie.duration }} minutes</p>
        <p><strong>Release Date:</strong> {{ movie.releaseDate | date }}</p>
       
    </div> -->
    <a [routerLink]="['/movie/update',movie.movieId]">Update</a>
    <hr>

</div>


