
body {
  font-family: Arial, sans-serif;
  background-color: #fff; /* White background */
  margin: 0;
  padding: 0;
}

.add-event-form {
  background-color: #f9f9f9; /* Light gray background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

h2 {
  text-align: center; /* Center align "Add Event" heading */
  color: red; 
  margin-bottom: 20px; /* Space below heading */
}

.form-group {
  margin-bottom: 20px; /* Space between form groups */
}

label {
  display: block;
  font-weight: bold;
  color: black; 
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px;
  box-sizing: border-box;
}

.button-group {
  margin-top: 20px; /* Space above buttons */
  text-align: center; /* Center align buttons */
}

button[type="submit"],
button[type="button"] {
  background-color: red; /* Blue button background color */
  color: #fff; /* White button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* Space between buttons */
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: red; /* Darker blue hover color */
}

.success-message {
  color: red; /* Blue success message color */
  font-weight: bold;
  margin-top: 10px;
  text-align: center; /* Center align success message */
}

.error-message {
  color: #c0392b; /* Dark red error message color */
  margin-top: 5px;
}

.back-button {
  background-color: red; /* Blue back button color */
  color: white;
  border: none;
  border-radius: 50%; /* Make it round */
  padding: 15px; /* Increase padding for a larger button */
  font-size: 10px; /* Increase font size for a bigger icon */
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

.back-button:hover {
  background-color: red; /* Darker blue hover color */
}
